<% include partial/header.ejs %>
<div id="landing">

<h1>Welcome to YelpCamp</h1>

<a href="/campground"><button class="btn btn-success" >View all</button></a>
</div>
<% include partial/footer.ejs %>