.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}
.thumbnail .caption-full{
    padding:9px;
}
#delete-form{
    display: inline
}
#map{
    height:400px;
    width:100%;
}
#landing{
    width: 600px; height: 400px;position: absolute; left: 0; top: 0; right: 0; bottom: 0;margin: auto;
}
